@import './base.css';
@import './LoginFormStyle.css';
@import './DashboardStyle.css';
@import './InventarioStyle.css';
@import './TopBar.css';
@import './SidebarStyle.css';
@import './variables.css';
@import './WelcomeStyle.css';
@import './reportsStyle.css';
@import './UsuariosStyle.css';
@import './Componentes_Style/ActivityFeedStyle.css';
@import './Componentes_Style/ClientesListModalStyle.css';
@import './Componentes_Style/DashboardSalesChartsStyle.css';
@import './Componentes_Style/DataRangePickerStyle.css';
@import './Componentes_Style/NewReportsModalStyle.css';
@import './Componentes_Style/OrderDetailsModelStyle.css';
@import './Componentes_Style/OrderModalStyle.css';
@import './Componentes_Style/RecientsOrdersStyle.css';
@import './Componentes_Style/ReportDetailsModelStyle.css';
@import './Componentes_Style/StatsCardsStyle.css';
@import './Componentes_Style/ToasNotificationViewStyle.css';
@import './Componentes_Style/TrabajoModalViewStyle.css';
@import './Componentes_Style/UserModalStyle.css';
#app {
  /*max-width: 1280px;*/
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}